
body {
    background-color: rgb(189, 0, 0);
    color: #f0f0f0; 
    font-family:serif;
}


h1 {
    text-align: center;
    font-size: 2em;
    color: rgb(255, 255, 255);
}


ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2em;
    padding: 5px;
}

ul li span {
    color: #f0f0f0; 
