/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: hsl(60, 80%, 94%);
  color: #333;
  line-height: 1.6;
}

/* SECTION ACCUEIL */
.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("Tg.jpg") no-repeat center center/cover;
  background-attachment: fixed; /* fond fixe */
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
}

.home-content {
  z-index: 1;
}

.home h1 {
  font-size: 3em;
  margin-bottom: 10px;
  animation: slideIn 1s ease-out;
}

.home p {
  font-size: 1.5em;
  margin-bottom: 30px;
  animation: slideIn 1.5s ease-out;
}

/* Animation texte */
@keyframes slideIn {
  from { transform: translateY(50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.btn {
  background: hsl(60, 80%, 94%);
  color: red;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: none;
  color: red;
}

/* SECTIONS */
.section {
  padding: 80px 20px;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

.section h2 {
  color: hsl(60, 80%, 94%);
  margin-bottom: 20px;
  font-size: 2em;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .home h1 {
    font-size: 2em;
  }

  .home p {
    font-size: 1.2em;
  }

  .buttons {
    flex-direction: column;
    gap: 15px;
  }
}
